body {
  padding-top: 60px;
  padding-bottom: 60px;
}

#content h1 {
  font-size: 150%;
  border-width: 0 0 1px 0px;
  border-style: solid;
}

footer .navbar {
  min-height: 3em;
}

footer .navbar-brand {
  min-height: 3em;
}

footer .navbar-brand {
  font-size: 90%;
  line-height: 1;
  padding: 10px;
}
