body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-header {
  margin: 10px 0px 10px;
}

#content h1 {
  font-size: 150%;
}

footer .navbar {
  height: 3em;
}

footer .navbar-brand {
  height: 3em;
  font-size: 90%;
  line-height: 1;
  padding: 10px;
}
